{% extends 'blog/base.html' %}

{% block main_area%}

<a class="btn btn-info btn-sm float-right" href="/blog/create_post"><i class="fas fa-pen"></i>New Post</a>
            <h1>블로그</h1>
            {% for p in post_list %}
            <!-- Blog post-->
            <div class="card mb-4">
                {% if p.head.image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap"/>
                {% else %}
                <img class ="sm" src= "https://picsum.photos/800/200/" alt="random_image"/>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{p.title}}</h2>
                   <p class=“card-text”>{{ p.content | truncatewords:45 }}</p>
                    <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read More →</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{p.created_at}} by
                    <a href="#!">Start Bootstrap</a>
                </div>
            </div>
            {% endfor %}
            <!-- Pagination-->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item"><a class="page-link" href="#!">← Older</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">Newer →</a></li>
            </ul>

{% endblock %}